<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <style>
        
        table,
        th,
        td{
            border:1px solid black ;
        }
    </style>
</head>
<body>
    <h1>USERS!</h1>
    <h1>create new post</h1>
    <form method="post" action="/user/new">
        <input type="text" name="username" placeholder="Enter username" required>
        <input type="text" name="email" placeholder="Enter email" required>
        <input type="password" name="password" placeholder="Enter password" required>
        <button>Create</button>
    </form>

    
    <table>
        <tr>
            <th>USERNAME</th>
            <th>ID</th>
            <th>EMAIL</th> 
        </tr>
        <% for(user of result){%>
        <tr>
            <td><%= user.username %></td>
            <td><%= user.id %></td> 
            <td><%= user.email %></td>
            <td>
            <form  method="get" action="/user/<%=user.id%>/edit" ><button type="submit">Edit username</button></form></td>
            <td>
                <form method="get" action="/user/<%=user.id%>/delete">
                    <button type="submit">Delete</button>
                </form></td>
        </tr>
        <%}%>
    </table>
    

</body>
</html>